*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex-row-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.text-style{
    color: var(--Primary-2, #343C6A);
    font-family: Mont;
    font-style: normal;
    line-height: normal;
}

.main-text-style{
    color: #B1B1B1;
    font-family: Inter;
    font-style: normal;
    line-height: normal;
}

/* || header nav */

.header{
    flex: 1 1440px;
}

.header__union{
    gap: 70px;
}

.header__logo{
    gap: 10px;
    padding: 20px 40px;
    border-right: 2px solid #E6EFF5;
}

.header__logo > h1{
    font-weight: 900;
    font-size: 25px;
}

.header__nav{
    flex:  1 1110px;
    gap: 470px;
}

.header__nav > p{
    font-weight: 600;
    font-size: 28px;
}

.header__navunion{
    gap: 30px;
}

.header__search{
    border: 2px solid #F5F7FA;
    border-radius: 40px;
    gap: 5px;
    padding: 10px 15px;
    background-color: #F5F7FA;
}

.header__search > input{
    outline: none;
    background-color: #F5F7FA;
}

.header__search > input::placeholder{
    color: #8BA3CB;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__icon{
    border-radius: 50%;
    background-color: #F5F7FA;
    padding: 12px 13px;
}

.header__profile{
    padding: 0;
}

.header__profile >img{
    border-radius: 50%;
}

/* || main sidebar */

.sidebar{
    flex: 1 1184px;
    justify-content: flex-start;
}

.sidebar__list{
    gap: 25px;
}

.sidebar__list > h2{
    font-size: 18px;
    font-weight: 500;
}

.sidebar__ul{
    gap: 40px;
}

.main-text-style-blue{
    color: var(--Primary-3, #2D60FF);
}

.sidebar__list--blueborder{
    height: 60px;
    border: 3px solid var(--Primary-3, #2D60FF);
    border-radius: 0px 10px 10px 0px;
    background-color: var(--Primary-3, #2D60FF);
}

.sidebar__list--padding{
    padding: 0 31px;
}